<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>app.macberry.SmartPrintFix.help</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleHelpBookFolder</key>
	<string>SmartPrintFixHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>SmartPrintFix Help</string>
</dict>
</plist>
